<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.sogeti.rental.ui">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="com.sogeti.rental.ui"
            class="com.sogeti.rental.ui.views.SampleView"
            id="com.sogeti.rental.ui.views.SampleView">
      </view>
      <view
            category="com.sogeti.rental.ui.Rental"
            class="com.sogeti.rental.ui.views.RentalPropertyView"
            icon="icons/Rentals.png"
            id="com.sogeti.rental.ui.rentaView"
            name="Rental Property view"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui.Rental"
            class="com.sogeti.rental.ui.views.RentalAgencyView"
            id="com.sogeti.rental.ui.views.RentalAgencyView"
            name="Rental Tree View"
            restorable="true">">
      </view>
      <category
            id="com.sogeti.rental.ui.Rental"
            name="Rental">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.sogeti.rental.ui.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
